
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/* .home-slider .slick-dots{
    bottom: 60px;
}
.home-slider .slick-dots li{
    width: 40px !important;height: 10px !important;background: rgb(255, 255, 255) !important;border-radius: 10px;
}
.home-slider .slick-dots li button{
    visibility: hidden;
}
.home-slider .slick-dots li.slick-active{
    background-color: var(--main-clr) !important;
} */

.home-slider .slide-right{
    cursor: pointer;color: #fff;background: #2d2f31;border: 0px solid var(--gray-clr);width: 40px;height: 40px;display: grid;place-items: center;border-radius: 50%;position: absolute;z-index: 1h;right: 30px;    top: 40%;box-shadow: 0 2px 4px rgba(0,0,0,.2), 0 4px 12px rgba(0,0,0,.2);
    transform: translateY(-50%);
}

.home-slider .slide-left{
    cursor: pointer;color: #fff;background: #2d2f31;border: 0px solid var(--gray-clr);width: 40px;height: 40px;display: grid;place-items: center;border-radius: 50%;position: absolute;z-index: 1h;left: 30px;    top: 40%;box-shadow: 0 2px 4px rgba(0,0,0,.2), 0 4px 12px rgba(0,0,0,.2);
    transform: translateY(-50%);
}


.display-popular-boxes .slick-prev:before,
.display-popular-boxes .slick-next:before{
    visibility: hidden;
}

.slide-right{
    cursor: pointer;color: var(--main-clr);background: #fff;border: 1px solid var(--gray-clr);width: 40px;height: 40px;display: grid;place-items: center;border-radius: 50%;position: absolute;z-index: 1;right: -20px;
}

.slide-left{
    cursor: pointer;color: var(--main-clr);background: #fff;border: 1px solid var(--gray-clr);width: 40px;height: 40px;display: grid;place-items: center;border-radius: 50%;position: absolute;z-index: 1;left: -20px;
}
.slide-right:active,
.slide-left:active{
    scale: 0.95;
}

.newArrivalSlider .slick-dots{
    bottom: -40px;
}

.newArrivalSlider .slick-dots li{
    width: 20px !important;height: 6px !important;background: #dcdcdc !important;border-radius: 10px;
}
.newArrivalSlider .slick-dots li button{
    visibility: hidden;
}
.newArrivalSlider .slick-dots li.slick-active{
    background-color: var(--main-clr) !important;
}

.displayVideos .slide-right{
    cursor: pointer;color: #fff;background: #000;border: 0px solid var(--gray-clr);width: 40px;height: 40px;display: grid;place-items: center;border-radius: 50%;position: absolute;z-index: 1;right: -20px;    top: 25%;
    transform: translateY(-50%);
}

.displayVideos .slide-left{
    cursor: pointer;color: #fff;background: #000;border: 0px solid var(--gray-clr);width: 40px;height: 40px;display: grid;place-items: center;border-radius: 50%;position: absolute;z-index: 1;left: -20px;    top: 25%;
    transform: translateY(-50%);
}
.displayVideos .slide-right:active,
.displayVideos .slide-left:active{
    scale: 0.95;
}

#freeVideosMain .slide-right{
    cursor: pointer;color: #fff;background: #000;border: 0px solid var(--gray-clr);width: 40px;height: 40px;display: grid;place-items: center;border-radius: 50%;position: absolute;z-index: 1;right: -20px;    top: 50%;
    transform: translateY(-50%);
}

#freeVideosMain .slide-left{
    cursor: pointer;color: #fff;background: #000;border: 0px solid var(--gray-clr);width: 40px;height: 40px;display: grid;place-items: center;border-radius: 50%;position: absolute;z-index: 1;left: -20px;    top: 50%;
    transform: translateY(-50%);
}

#log_bann_slider .slick-dots{
    bottom: -40px;
}
#log_bann_slider .slick-dots li{
    width: 10px !important;height: 10px !important;background: #dcdcdc !important;border-radius: 50%;transition: all 200ms linear !important;
}
#log_bann_slider .slick-dots li button{
    visibility: hidden;
}
#log_bann_slider .slick-dots li.slick-active{
    background-color: var(--main-clr) !important;width: 30px !important;border-radius: 10px;
}
